@model PhotoBrowser.Models.SearchModel
<html>
<head>
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="~/scripts/proxies/searchApiProxy.js"></script>
    <script src="~/scripts/logic/search.js"></script>
    <script src="~/scripts/pages/search.js"></script>
</head>
<body>
    <header>
        <div class="menu">
            @Html.ActionLink("New Session", null, "Session")
        </div>
    </header>

    <h1>Search Images (<span id="searchCount">0</span> / @Model.TotalImages)</h1>
    <section id="searchCriteriaSection">
        <div class="searchCriteria">
            <div id="tags" class="searchGroup">
                <h2>Tags (@Model.TotalTags)</h2>
                <div id="tagList">
                    @for (int i = 0; i != Model.Tags.Length; ++i)
                    {
                        var model = Model.Tags[i];
                        var tagId = "tag" + i;
                        var tagCheckBoxId = "tagCheckBox" + i;
                        var tagValue = model.Text;

                        <p id="@tagId" class="searchItem">
                            <label>
                                <input type="checkbox" id="@tagCheckBoxId" value="@tagValue" />
                                @string.Concat(model.Text, " (", model.Count, ")")
                            </label>
                        </p>
                    }
                </div>
            </div>
            <div id="categories" class="searchGroup">
                <h2>Categories (@Model.TotalCategories)</h2>
                <div id="categoryList">
                    @for (int i = 0; i != Model.Categories.Length; ++i)
                    {
                        var model = Model.Categories[i];
                        var categoryId = "category" + i;
                        var categoryCheckBoxId = "categoryCheckBox" + i;

                        <p id="@categoryId" class="searchItem">
                            <label>
                                <input type="checkbox" id="@categoryCheckBoxId" />
                                @string.Concat(model.Text, " (", model.Count, ")")
                            </label>
                        </p>
                    }
                </div>
            </div>
            <div id="captions" class="searchGroup">
                <h2>Captions (@Model.TotalCaptions)</h2>
                <div id="categoryList">
                    @for (int i = 0; i != Model.Captions.Length; ++i)
                    {
                        var model = Model.Captions[i];
                        var captionId = "caption" + i;
                        var captionCheckBoxId = "captionCheckBox" + i;

                        <p id="@captionId" class="searchItem">
                            <label>
                                <input type="checkbox" id="@captionCheckBoxId" />
                                @string.Concat(model.Text, " (", model.Count, ")")
                            </label>
                        </p>
                    }
                </div>
            </div>
        </div>
    </section>
    <section id="imageSection">
        <div id="imageResultTemplate" class="tooltip-container" style="display:none;float:left;margin:4px">
            <img id="thumbnail" />
            <span id="tooltip" class="tooltip-text"></span>
        </div>
        <div id="imageResult" class="imageResult"></div>
    </section>

    <script type="text/javascript">
        bootstrapSearch(@Model.Tags.Length);
    </script>
</body>
</html>